<?xml version="1.0" encoding="utf-8"?>

<configuration debug="false">
  
  
    <!-- 格式化輸出：%date表示日期，%thread表示線程名，%-5level：級別從左顯示5個字符寬度 %msg：日誌消息，%n是換行符-->    
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"/>  
    
    <!-- 定義日誌存儲的路徑，不要配置相對路徑 -->  
    <property name="FILE_PATH" value=" logs/mqtt_dev-%d{yyyy-MM-dd}_%i.log"/> 
   
  <!-- 控制台輸出日誌 -->  
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder> 
      <!-- 按照上面配置的LOG_PATTERN來打印日誌 -->  
      <pattern>${LOG_PATTERN}</pattern> 
    </encoder> 
  </appender>  
 
  <!--每天生成一個日誌文件，保存30天的日誌文件。rollingFile是用來切分文件的 -->  
  <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
      <fileNamePattern>${FILE_PATH}.zip</fileNamePattern>
      <!-- keep 30 days' worth of history -->  
      <maxHistory>30</maxHistory>  
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
        <!-- 日誌文件的最大大小 -->  
        <maxFileSize>50MB</maxFileSize> 
      </timeBasedFileNamingAndTriggeringPolicy> 
    </rollingPolicy>  
    <encoder> 
      <pattern>${LOG_PATTERN}</pattern> 
    </encoder> 
  </appender>  
  
  <!-- project default level -->  
    <logger name="org.springframework.scheduling"  level="error" />
  
  <!-- 日誌輸出級別 -->  
  <root level="INFO"> 
    <appender-ref ref="console"/>  
    <appender-ref ref="rollingFile"/> 
  </root> 

</configuration>
